

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 60px;
    padding-bottom: 40px;
}


/* ===========
	USER AREA
   =========== */

.user-container {
	margin-bottom: 75px;
}

.user-header {
	font-variant: small-caps;
}

.bio {
	max-width:75%;
	letter-spacing: 1px;
	line-height: 1.75em;
}


/* ===========
	PROJECTS
   =========== */

.projects-container {

}

.project-inner {
	border:1px blue solid;
	margin-bottom: 20px;
}

/* Useful Classes */

.center {
	margin-left:auto;
	margin-right:auto;
}
