 <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <img class='pull-right' src="http://www.gravatar.com/avatar/<%= user.get('gravatar_id') %>?s=150"></img>
                <h1><%= user.get('name') %></h1>
                <p><%= user.get('company') %></p>
                <p><%= user.get('bio') %></p>
            </div>

            <!-- Example row of columns -->

            <div class='holder row'>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>
</div> <!-- /container -->