<article class="span12 project-inner">
    <h3 class="title"><% if (title) { %><%= title %><% } else { %><%= name %><% } %></h3>    
    <div class="projectInfo">
        <p class="description span4"><%= description %></p>
        <ul class="skillset span4">
            <% if (language) { %>
                <li><%= language %></li>
            <% } %>
            
        </ul>
        <% if (homepage) { %>
            <p><a class="sitelink" target="_blank" href="<%= homepage %>">view the project</a></p>
        <% } %>

        <p><a class="github" target="_blank" href="<%= html_url %>">code on github</a></p>
    </div>
          
        <% if (img) { %>
    <div class="projectImages span4">
        <ul id="">
            <li><img src="<%= img %>" alt=""/></li>
        </ul>
    </div>
        <% } %>
</article>